<div class="container">
<table class="table">
  <tr>  
   <th> <h1>Order Statistics</h1>
     As of <%= Time.now%> We have <%= pluralize(@total_orders, "order" ) %>.<br>
      <script type="text/javascript" charset="utf-8">
          $(function () {
          new Highcharts.Chart({
            chart: { renderTo: 'orders_chart' },
            title: { text: 'Orders Per Day' },
            xAxis: { type: 'datetime' },
            yAxis: {
              title: { text: 'Orders'}
            },
            series: [{
              pointInterval: <%= 24 * 3600 * 1000 %>,
              pointStart: <%=@startDate%>,  
              name: "Number of orders per day",
              data: <%=@data%>
            }]
          });
        });
      </script>
     <div id="orders_chart" style="width: 400px; height: 300px;"></div>
   </th>

  <!-- Step 1: Create the containing elements. -->

  <th> 
    <h1>Web Statistics</h1>
    <p>Please use bookzrails@gmail.com and bookzrails2014 to test Google Analytics features</p>
    <section id="auth-button"></section>
    <section id="view-selector"></section>
    <section id="timeline"></section>
  </th>
  </tr>

<table>
<!-- Step 2: Load the library. -->
  
<script>
(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));
</script>


<script>
  // Step 3: Authorize the user.

  var CLIENT_ID = '71639948371-91k7bpgjc7mfp9hhbb6h51ppecfk0qou.apps.googleusercontent.com'
gapi.analytics.ready(function() {
;

  gapi.analytics.auth.authorize({
    container: 'auth-button',
    clientid: CLIENT_ID,
  });

  // Step 4: Create the view selector.

  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector'
  });

  // Step 5: Create the timeline chart.

  var timeline = new gapi.analytics.googleCharts.DataChart({
    reportType: 'ga',
    query: {
      'dimensions': 'ga:date',
      'metrics': 'ga:sessions',
      'start-date': '30daysAgo',
      'end-date': 'yesterday',
    },
    chart: {
      type: 'LINE',
      container: 'timeline'
    }
  });

  // Step 6: Hook up the components to work together.

  gapi.analytics.auth.on('success', function(response) {
    viewSelector.execute();
  });

  viewSelector.on('change', function(ids) {
    var newIds = {
      query: {
        ids: ids
      }
    }
    timeline.set(newIds).execute();
  });
});
</script>