<h1>Edit Admin User</h1>

<div class= "depot_form">
  <fieldset>
    <legend><%='Please enter your details'%></legend>
      <%= render 'form' %>
  </fieldset>
</div>

<br>
<%= link_to 'Show', @user, class:'btn btn-default' %> |
<%= link_to 'Delete', @user, :confirm => 'Are you sure?', method: :delete , class:'btn btn-default' %> |
<%= link_to 'Back', users_path, class:'btn btn-default'  %>
