<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">     
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container col-md-10">
    <%= f.label :name, t('.name') + ":" %><br>
    <%= f.text_field :name, class: "form-control"%>
    <%= f.label :street_address, t('.street') + ":" %><br>
    <%= f.text_field :street_address, class: "form-control"  %>
    <%= f.label :city, t('.city') + ":" %><br>
    <%= f.text_field :city, class: "form-control"  %>
    <%= f.label :zip, t('.zipcode') + ":" %><br>
    <%= f.text_field :zip, class: "form-control"  %>
    <%= f.label :email, t('.email') + ":" %><br>
    <%= f.text_field :email, class: "form-control"  %>
    <%= f.label :pay_type, t('.pay_type') + ":" %><br>
    <%= f.select(:pay_type, options_for_select([['Check', 'Check'], ['Credit Card', 'Credit Card'], ['Purchase Order', 'Purchase Order']]), {}, {class: "form-control"}) %><br>
    <%= f.submit t('.submit'), class:'btn btn-success' %>    
  </div>
<% end %>
