<h1>Edit Order</h1>

<div class= "depot_form"> 
  <fieldset>
    <legend><%= 'Please enter your details' %></legend>
     <div class='container'>
      <%= render 'form' %>
     </div>
  </fieldset>
</div>
<br>
<%= link_to 'Show', @order , class:'btn btn-default' %> |
<%= link_to 'Delete', @order, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default'  %> |
<%= link_to 'Back', orders_path, class:'btn btn-default'  %>
