<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.file_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :product_id %>
    <%= f.text_field :product_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>