<div id="product_list">
  <h1>Products Catalog</h1><br>
  
  <table class='table table-striped'> 
   <thead>
    <tr>
      <th>Catalog Image</th>
      <th>Product Details</th>

      <th colspan="3"></th>
    </tr>
  </thead>
    <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <%= image_tag(product.image, height: '70', width: '70') %>
      </td>

      <td class="list_description">
        <dl>
          <dt><b><%= product.title %></b></dt>
        <dd><%= truncate(strip_tags(product.description),
        length: 80) %></dd>
        </dl>
      </td>
      <td class="list_actions">        
        <%= link_to 'Actions', edit_product_path(product) %><br/>       
        </td>
      </tr>
    <% end %>
    <%= link_to '', new_product_path , class:'btn btn-floating glyphicon glyphicon-plus'%>
  </table>
</div>
<br />

<%= will_paginate @products, :class => 'pagination' %><br>
