<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= t(".title_html") %></h1>

<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url, width: 70, higth: 70)%>
    <h3><%= product.title %></h3>
    <%=raw product.description %>
    <div class="price_line">
      <b><span class="price"><%= number_to_currency(product.price) %></span></b>
      <%= button_to 'Add to Cart', line_items_path(product_id: product.id) %>
    </div>
  </div>
<% end %>