<%=form_tag 'search', method: :get do%>
  <div class='row'>
    <div class='col-md-offset-1 col-md-9'><%=text_field_tag :query,nil, :class=> 'form-control', :placeholder => 'Search by title', :id => 'search'%></div>
    <div class='col-md-2'><%=button_tag "", :class => 'btn btn-primary glyphicon glyphicon-search'%></div>
  </div>
<%end%><br>

<div id="post" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class='box' style='background:white;'>
        <h3 style='text-align:center; margin-top:0;'><%= product.title %></h3>
       <%=image_tag(product.image_url)%>
        <div class= "panel-body">
          <div class='row'>
            <%= link_to "  #{number_to_currency(product.price)}", cart_it_path(product_id: product.id), :method => :post, class:"btn btn-success glyphicon glyphicon-shopping-cart pull-right" %>
          </div>
        </div>
    </div>
  <% end %>    
</div>
 <%= will_paginate @products ,class: "pagination pagination-centered"%>