<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div id="post" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class='box'>
        <h3 style='text-align:center;'><%= product.title %></h3>
        <%= image_tag(product.image_url)%>
        <div class= "panel-body">
          <%=raw product.description.truncate(100) %>  
          <span class="price">Price: <%= number_to_currency(product.price) %></span>
          <%= button_to 'Add to Cart', line_items_path(product_id: product.id), class:"btn btn-primary" %>
        </div>
    </div>
  <% end %>   
</div>