<!DOCTYPE html>
<html lang=en>
<head>
  <title>Book-Z online bookstore built using Ruby on Rails</title>
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="banner">   
     <%form_tag store_path, class: 'locale' do %>
      <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange:'this.form.submit()' %>
      <%= submit_tag 'submit' %>
      <%= javascript_tag "$$('.locale input').each(Element.hide)" %>
     <%end%>    
    <%= 'Book-Z Online Bookstore' || t('.title') %>
    
 <!-- Social Icons-->
   <ul class="soc">
    <li><a href="https://github.com/dushi27/depot" target="_blank"><img src="http://icons.iconarchive.com/icons/lunartemplates/modern-social-media-rounded/64/GitHub-icon.png"></a></li>
    <li><a href="https://twitter.com/Dushyanthi1" target="_blank"><img src="http://bit.ly/1mUSG1s"/></a></li>
    <li><a href="http://dushyanthipierismspc.blogspot.com" target="_blank"><img src="http://bit.ly/1BnDy6y"/></a></li>
    <li><a href="https://www.linkedin.com/in/dushyanthipieris" target="_blank"><img src="http://bit.ly/1AmsPrE"/></a></li>
  </ul>
<!-- Socila Icons -->
    
  </div>
  <div id="columns">
    <div id="side">
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
          <%= render @cart %>
        <% end %>
      <% end %><br>
      <ul class="nav nav-pills nav-stacked">
          <li><a href="/"><%= t('.home') %></a></li> 
        <% if session[:user_id] %>
          <br />
        <li><%= link_to 'Admin Home',   admin_path%></li>
          <li><%= link_to 'Orders',   orders_path%></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users',    users_path%></li> 
          <li><%= #link_to 'Products API', "http://bookz.herokuapp.com/api/v1/products.json" %></li>
          <br><%= button_to 'Logout', logout_path, method: :delete, class:"btn btn-warning"   %>
        <%else%>
          <br><%= button_to 'Admin Login', login_path, method: :get, class:"btn btn-success"%><br>    
      <% end %>
     </ul>

    </div>
    <img src="">
    
      <div id="main">     
        <%= yield %>
      </div>
  </div><!--end of column id-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46997714-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>