<!DOCTYPE html>
<html lang=en>
<head>
  <title>Book-Z online bookstore built using Ruby on Rails</title>
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="store" style='background-color: whitesmoke;'>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=image_tag 'logo.png', :class => 'logo-image pull-left'%><a class="navbar-brand" href="/"> Bookz</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
      <ul class="nav navbar-nav navbar-right top-nav-btn">
        <%if session[:user_id]%>
          <li ><%= link_to 'Dashboard',   admin_path %></li>
          <li><%= link_to 'Orders',   orders_path%></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users',    users_path%></li>  
          <li> <%= link_to 'Logout', logout_path, method: :delete%></li>    
        <%else%>
         <li><%=link_to 'Log In', login_path %></li>
        <%end%>
        <% if @cart %>
            <li><%= link_to "Cart (#{pluralize(@cart.total_items, 'item')})" , cart_path(@cart)%></li>
        <%end%>
      </ul>     
          
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
 
  <div class='container'>
    <%= yield %>
  </div>
  <script>
    
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46997714-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>